<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>停车管理系统</title>
<link rel="stylesheet" type="text/css" th:href="@{/moban/css/index.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/moban/css/animate-custom.css}" />
</head>
<body style="background: #fff url(/moban/images/um2Kqmc.jpg) no-repeat top left; background-size: cover; ">
<style>
	div{
		color: red;
	}
</style>
<div id="container_demo" >
	<a class="hiddenanchor" id="toregister"></a>
	<a class="hiddenanchor" id="tologin"></a>
	<div id="wrapper">
		<div id="login" class="animate form" >
			<form  action="/user/login" autocomplete="on" method="post">
				<h1>登录</h1> 
				<p> 
					<label for="username" class="uname" data-icon="u" >您的用户名</label>
					<input id="username" name="name" required="required" type="text" placeholder="请输入用户名"/>
				</p>
				<p> 
					<label for="password" class="youpasswd" data-icon="p">你的密码</label>
					<input id="password" name="password" required="required" type="password" placeholder="请输入密码" />
				</p>
				<p> 
					<span style="color: red;font-size: 18px" th:text="${msg}"></span>
				</p>
				<p class="login button"> 
					<input type="submit" value="登录" /> 
				</p>
				<p class="change_link">
					管理员--><a href="/admin/login" class="to_register">管理员</a>
					不是成员?<a href="#toregister" class="to_register">加入我们</a>
				</p>
			</form>
		</div>

		<div id="register" class="animate form">
			<form  action="/user/user-save" autocomplete="on" method="post">
				<h1>注册</h1> 
				<p> 
					<label for="usernamesignup" class="uname" data-icon="u">用户名</label>
					<input id="usernamesignup" name="name" type="text" placeholder="用户名" onblur="checkUser()" required/>
					<span><div id="user_prompt">用户名由英文字母和数字组成的4-16位字符，以字母开头</div></span>
<!--				<p>-->
<!--					<span style="color: red;font-size: 18px" th:text="${msg}"></span>-->
<!--				</p>-->
				</p>
				<p> 
					<label for="tel" class="youmail">联系电话</label>
					<input id="tel" name="phone" class="phone" required type="tel" placeholder="联系电话" onblur="checkMobile()"/>
				<div id="mobile_prompt">电话号码为11位</div>
				</p>
				<p> 
					<label for="academy" class="youmail">车牌号码</label>
					<input id="academy" name="plate_num" required type="tel" placeholder="车牌号码" onblur="checkPlate()"/>
				<div id="plate_prompt">车牌号格式：汉字 + A-Z + 5位A-Z或0-9</div>
				</p>
				<p> 
					<label for="passwordsignup" class="youpasswd" data-icon="p">密码</label>
					<input id="passwordsignup" name="password" required type="password" placeholder="密码" onblur="checkPwd()"/>
					<span><div id="pwd_prompt">密码由英文字母和数字组成的4-10位字符</div></span>
				</p>
				<p>
					<label for="repasswordsignup" class="youpasswd2" data-icon="p">确认密码</label>
					<input id="repasswordsignup" name="password2" required type="password" placeholder="请再次输入密码" onblur="checkRepwd()"/>
					<span><div id="repwd_prompt"></div></span>
				</p>
				<p>
<!--					<span style="color: red;font-size: 18px" th:text="${msg}"></span>-->
				</p>
				<p class="signin button"> 
					<input type="submit" value="注册"/>
				</p>
				<p class="change_link">  
					已经是成员?<a href="#tologin" class="to_register"> 去登录 </a>
				</p>
			</form>
		</div>
		
	</div>
	
</div>
<script type="text/javascript">
	function $(elementId){
		return document.getElementById(elementId).value;
	}
	function divId(elementId){
		return document.getElementById(elementId);
	}
	/*用户名验证*/
	function checkUser(){
		var user=$("usernamesignup");
		var userId=divId("user_prompt");
		userId.innerHTML="";
		var reg=/^[a-zA-Z][a-zA-Z0-9]{3,15}$/;
		if(reg.test(user)==false){
			userId.innerHTML="用户名不正确";
			alert("请输入正确用户名");
			return false;
		}
		return true;
	}
	/*车牌号验证*/
	function checkPlate() {
		var plate=$("academy");
		var plateId=divId("plate_prompt");
		plateId.innerHTML="";
		var reg=/^[京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领A-Z]{1}[A-Z]{1}[A-Z0-9]{4}[A-Z0-9挂学警港澳]{1}$/;
		if(reg.test(plate)==false){
			plateId.innerHTML="车牌号格式不正确";
			alert("请输入正确格式车牌号");
			return false;
		}
		return true;
	}
	/*密码验证*/
	function checkPwd(){
		var pwd=$("passwordsignup");
		var pwdId=divId("pwd_prompt");
		pwdId.innerHTML="";
		var reg=/^[a-zA-Z0-9]{4,10}$/;
		if(reg.test(pwd)==false){
			pwdId.innerHTML="密码不能含有非法字符，长度在4-10之间";
			alert("请输入正确格式的密码");
			return false;
		}
		return true;
	}

	function checkRepwd(){
		var repwd=$("repasswordsignup");
		var pwd=$("passwordsignup");
		var repwdId=divId("repwd_prompt");
		repwdId.innerHTML="";
		if(pwd!=repwd){
			repwdId.innerHTML="两次输入的密码不一致";
			alert("两次输入的密码不一致");
			return false;
		}
		return true;
	}

	/*验证邮箱*/
	// function checkEmail(){
	// 	var email=$("email");
	// 	var email_prompt=divId("email_prompt");
	// 	email_prompt.innerHTML="";
	// 	var reg=/^\w+@\w+(\.[a-zA-Z]{2,3}){1,2}$/;
	// 	if(reg.test(email)==false){
	// 		email_prompt.innerHTML="Email格式不正确，例如web@sohu.com";
	// 		return false;
	// 	}
	// 	return true;
	// }
	/*验证手机号码*/
	function checkMobile(){
		var mobile=$("tel");
		var mobileId=divId("mobile_prompt");
		var regMobile=/^1\d{10}$/;
		if(regMobile.test(mobile)==false){
			mobileId.innerHTML="手机号码不正确，请重新输入";
			alert("请输入正确格式售手机号");
			return false;
		}
		mobileId.innerHTML="";
		return true;
	}
</script>
</body>
</html>